body{
    color: #0d00ff;
    background-image: radial-gradient(#53b4ff, #F8F8FF);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100svh;
}

h1{
   text-align: center;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 50px;
}

li{
    width: 300px;
    box-shadow: 3px 3px 5px 2px #2a2974;
}